<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script type="module">
            // 定义自定义元素
            import JPAnalyzer from "../jp-analyst/index.js";
            customElements.define("my-jp-analyzer", JPAnalyzer);
        </script>
    </head>

    <body>
        <input type="text" value="先生,もう　薬を　飲まなくても　いいですか。"/>
        <button id="test" style="margin-bottom: 50px;">test</button>
        <my-jp-analyzer dictPath="../jp-analyst/dict"></my-jp-analyzer>

        <script>
            const panel = document.querySelector("my-jp-analyzer");
            const input = document.querySelector("input");
            const button = document.querySelector("button");
            button.addEventListener("click", (e) => {
                console.log("test");
                panel.setAttribute("data-text", input.value);
            });
        </script>
    </body>
</html>
