<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictation Component Test</title>
    <script src="../WritingPractice.js">
    </script>
</head>
<body>
    <h1>Dictation Component Test</h1>

    <dictation-component 
        translation="会议5点种结束,应该快完了。" 
        original="会議は5時までですから,もうすぐ終わるはずです。"
        autoSpeak="true" lang="ja-JP">
        
    </dictation-component>


    <script>
        document.querySelectorAll('dictation-component').forEach(component => {
            component.addEventListener('dictation-complete', (event) => {
                console.log('Dictation Complete:', event.detail);
            });
        });
    </script>
</body>
</html>